# Dependabot will run on day 25 of each month at 02:36 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "36 2 25 * *"
    open-pull-requests-limit: 20
    assignees:
      - "simatec"
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "36 2 25 * *"
    open-pull-requests-limit: 20
    assignees:
      - "simatec"
